<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1"><%= link_to "< All restaurants", restaurants_path %></span>
</nav>
<h1>Add a new restaurant</h1>

<%= render "form", restaurant: @restaurant %>
